<!DOCTYPE html>
<html>
<head>
  <title>Morphing</title>
  <%= stylesheet_link_tag    "morphing/application", media: "all" %>
  <%= javascript_include_tag "morphing/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
